<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/sharks/addshark" method="post">
    <div class="caption">Enter Your Shark</div>
    <input type="text" placeholder="Shark Name" name="name" <%=sharks[i].name; %> <input type="text"
      placeholder="Shark Character" name="character" <%=sharks[i].character; %> <button type="submit">Submit</button>
  </form>
</body>

</html>