<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <p>
    <div class="caption">Your Servers</div>
    <ul>
      <% servers.forEach(function(server) { %>
      <p>Name: <%= server.name %></p>
      <% }); %>
    </ul>
  </p>
</body>

</html>